.download-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 25%;
    background-color: grey;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.array-container {
    flex: 3;
    overflow-y: auto;
    padding: 5px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80%;
}

    .array-output {
        width: 100%;
        height: 100%;
        word-wrap: break-word;
    }

.download-button-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}