.swap-modal {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 25%;
    background-color: grey;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.swap-title {
    flex: 1;
}

.swap-selection-container {
    flex: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

    .swap-selection.one {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .swap-selection.two {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

.swap-button-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}